body {
    background-color:#feffe2;
}
header{
    color:white;
    padding:60px 0;
    background-color:#f0f0cb;
    text-align:center;    
}
.bx-sh ,.pages{
    border-radius:2px;
    text-align:center;
}
h1{
    background-color:#cce3dd;
    display:inline-block ;
    border-radius:10px;
    padding:8px 40px;
    box-shadow:0px 0px 5px white;
    font-family:serif;
    color:#007aa2;
    font-size:48px;
    
}
.container{
    margin:0 auto;
    padding:0 20px;
    max-width:900px;
}
.pages{
    padding:80px 0;
    text-align:center; 
    background-color:#feffe2;
    margin-top:4px;
}
.page-fir-row{
    display:inline-block ;
    padding:10px 10px;
}
.page-sec-row{
    display:inline-block  ;
    padding:10px 10px;
}
button{
    padding:10px;
    border-radius:10px;
    border:none;
    background-color:#c6d1b5;
    box-shadow:0px 0px 10px white;
    font-weight:3000;
    width:200px;
    color:#007aa2;
}
footer{
    padding:30px 0;
    text-align:center;
    background-color:#c3ba85;
    font-size:14px;
    color:#ffffff;
    margin-top:4px;
}
@media screen and (max-width:480px){
    .page-fir-row{display:block;}
    .page-sec-row{display:block ;}
    button{
        width:59%;
	font-size:1000;
    }
    h1{
        padding:5px;
        width:100%;
        font-size:22px;
    }
    .pages{
        background-size:auto 100%;
    }
    header{
        background-size:auto 100%;
        background-repeat:no-repeat ;
    }
}
